{% include 'adminheader.html' %}

<center>
    <div class="img-div">
    <h3>Payment Details</h3><br>

    <table class="table table-striped tbl-new bg-light shadow">
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for row in data['res'] %}
        <tr>
          
            <td>{{ row['amount'] }}</td>
            <td>{{ row['date'] }}</td>
        </tr>
        {% endfor %}
    </table>
<br><br><br><br><br><br>
</div>
</center>
{% include 'footer.html' %}