{% include 'adminheader.html' %}
<center>
<div class="img-div">
    {% if data['upd'] %}

    
    <form id="reg" action="" style="padding-top: 2rem;background: rgba(0, 0, 0, .1);box-shadow: 10px 10px 8px lightgrey" action="" method="post" enctype="multipart/form-data">
        <h3 class="p-3 text-white">Update Items</h3>

        <div  style="width: 50%;" class="reg-container">
                
            <input class="form-control" type="text" value="{{data['upd'][0]['product_name']}}" required placeholder="Product Name" name="name" id="">
        </div>
        <div style="width: 50%;"  class="reg-container">
                
            <input class="form-control" type="text" value="{{data['upd'][0]['product_desc']}}" required placeholder="Product description" name="desc" id="">
            
        </div>

        <!-- <div class="reg-container">
            <label for="">Image: </label>
            <img style="border-radius: 6px;" src="/{{data['raw'][0]['product_image']}}" width="70" height="70" alt="">
        </div> -->
        <div class="reg-container">
            <input style="margin-left: 0rem; width:48%" type="file" class="form-control"  placeholder="Product Image" name="image" id="">

        </div>
        <div style="width: 50%;"  class="reg-container">
            <input class="form-control" type="number" value="{{data['upd'][0]['labour_cost']}}" required placeholder="Labour Cost" name="lab" id="">
            </div>    
            <div class="reg-container">
                <input id="reg-btn" style="color: aliceblue;border:none;outline:none" type="submit" name="update" id="">
            </div>
    </form>
    

    {% else %}
    
    <form id="reg" action="" style="padding-top: 2rem;background: rgba(0, 0, 0, .1);box-shadow: 10px 10px 8px lightgrey" action="" method="post"  enctype="multipart/form-data">
        <h3 class="p-3 text-white">Manage Items</h3>

        <div class="reg-container">
            <div style="width: 414px !important;">
                
                <select class="form-control" required name="subid" id="">
                    <option value="0">Select Subcategory</option>
                    {% for row in data['sub'] %}
                    <option value="{{ row['subcategory_id'] }}">{{ row['subcategory_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        
    </div>

    <div class="reg-container">
        <div style="width: 414px !important;">
            
            <select class="form-control" required name="rawid" id="">
                <option value="0">Select Raw Materials</option>
                {% for row in data['raw'] %}
                <option value="{{ row['raw_mat_id'] }}">{{ row['raw_mat'] }}</option>
                {% endfor %}
            </select>
        </div>
    
</div>

        <div style="width: 50%;" class="reg-container">
                
            <input class="form-control" type="text" required placeholder="Product Name" name="name" id="">
        </div>
        <div style="width: 50%;" class="reg-container">
                
            <input class="form-control" type="text" required placeholder="Product description" name="desc" id="">
            
        </div>

        <div style="margin-left: 0rem;" class="reg-container">
                    <!-- <label for="">Image: </label> -->
            <input  type="file" required placeholder="Product Name"  style="width:47%" class="form-control" name="image" id="">
        </div>
        <div style="width: 50%;" class="reg-container">
                
            <input class="form-control" type="text" required placeholder="Labour charge" name="charge" id="">
            
        </div>
              
        
        
         
         <div  class="reg-container">
            <input id="reg-btn" style="color: aliceblue;border:none;outline:none" type="submit" value="Submit" name="submit">
         </div>

    </form>

    {% endif %}


    <br><br>

    <h5>View Items</h5><br>

    <center>
    <table class="table table-striped tbl-new" style="background:white; opacity:0.9;">
        <tr>
            <th>Sl no</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Image</th>
            <th>Product Price</th>
            <th>Status</th>
            <th>Update</th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['product_name'] }}</td>
            <td>{{ row['product_desc'] }}</td>
            <td><img src="/{{row['product_image']}}" style="width: 150px;height: 120px;"></td>
            <td>Rs. {{ row['product_price'] }}</td>

            {% if row['status'] == 'active' %}
            <td><a class="btn btn-danger" onclick="return confirm('Are You Sure!')" href="?action=inactive&pid={{ row['product_id'] }}">Inactive</a></td>
            {% else %}
            <td><a class="btn btn-info" onclick="return confirm('Are You Sure!')" href="?action=active&pid={{ row['product_id'] }}">Active</a></td>
            {% endif %}
            <td><a class="btn btn-success" href="?action=update&pid={{ row['product_id'] }}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    </center>
</div>
    <!-- <div style="display: block;">
    <div class="pim-div" style="background: aliceblue !important;box-sizing: border-box;padding-right: 1rem;transform: none;">
        <span></span>
        <span style="position: relative;right:-2rem;">Product</span>
        <span>Description</span>
        <span>Price</span>
        <span style="position: relative;right:4rem;">Status</span>
        <span></span>
        <span></span>
        <span></span>
    </div>
        {% for row in data['res'] %}
        <div class="pimg-div">
            <img style="border-radius: 10px;" src="/{{ row['product_image'] }}" width="100" height="100" alt="">
            <span>{{ row['product_name'] }}</span>
            <span>{{ row['product_desc'] }}</span>
            <span>{{ row['product_price'] }}</span>

            {% if row['status'] == 'active' %}
            <a class="btn btn-danger" onclick="return confirm('Are You Sure!')" href="?action=inactive&pid={{ row['product_id'] }}">Inactive</a>
            {% else %}
            <a class="btn btn-info" onclick="return confirm('Are You Sure!')" href="?action=active&pid={{ row['product_id'] }}">Active</a>
            {% endif %}
            <a class="btn btn-success" href="?action=update&pid={{ row['product_id'] }}">Update</a>
        </div>
      
    </div>
     
        {% endfor %} -->
    
</center>

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}