{% include 'adminheader.html' %}
<center>
    <div class="img-div">

    {% if data['raw'] %}

    
    <form id="reg" style="padding-top: 5rem;background: rgba(0, 0, 0, .1);box-shadow: 10px 10px 8px lightgrey" action="" method="post">
        <h3  class="p-3 text-white">Update rawMaterials</h3>

        <div class="reg-container">
                <div>
                    <input class="form-control" type="text" value="{{ data['raw'][0]['raw_mat'] }}" required placeholder="Raw Material" name="raw" id="">
                </div>
        </div>
        <div class="reg-container">
            <div>
                <input class="form-control" type="number" value="{{ data['raw'][0]['quantity'] }}" required placeholder="Quantity" name="quant" id="">
            </div>
     
    </div>
      
        
         <div>
            <input id="reg-btn" style="color: aliceblue;border:none;outline:none" type="submit" value="Update" name="update">
         </div>

    </form>
    

    {% else %}
    
    
    <form id="reg" action="" style="background: rgba(0, 0, 0, .1);box-shadow: 10px 10px 8px lightgrey" method="post">
        <h3 class="p-3 text-white">Manage RawMaterials</h3>

        <div class="reg-container">
                <div>
                    <!-- <label for="">Select Vendor: </label> -->
                    <select class="form-control" required name="ven_id" id="">
                        <option value="0">--select vendor--</option>
                        {% for row in data['ven'] %}
                        <option value="{{ row['vendor_id'] }}">{{ row['vendor_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            
        </div>
        <div class="reg-container">
                <div>
                    <input type="text" class="form-control" required placeholder="Raw material" name="raw" id="">
                </div>
         
        </div>
        <div class="reg-container">
                <div>
                    <input type="number" class="form-control" required placeholder="Quantity" name="quant" id="">
                </div>
         
        </div>
        
        
         
         <div class="reg-container">
            <input id="reg-btn" style="color: aliceblue;border:none;outline:none" type="submit" value="submit" name="submit">
         </div>

    </form>

    {% endif %}
</div>
    <br><br>

    <h5>View Available Raw Materials</h5>
    <table class="table table-striped tbl-new">
        <tr>
            <th>index</th>
            <th>Raw Material</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['raw_mat'] }}</td>
            <td>{{ row['quantity'] }}</td>
           
            <td><a class="btn btn-success" href="?action=update&rawid={{ row['raw_mat_id'] }}">Update</a></td>
            <td><a class="btn btn-danger" onclick="return confirm('Are you sure, delete this item ! ')" href="?action=delete&rawid={{ row['raw_mat_id'] }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}