{% include 'courierheader.html' %}

<center>
    <div class="img-div"> 
    <h3 class="p-3">My Delivery Details</h3>

    <div class="p-2">
        <span  style="color: rgb(255, 85, 85); background:black">Note: Products under same basket are delivered together.</span>
    </div>

    <table class="table table-striped  tbl-new" style="width: 80%;margin-bottom: 2rem;padding: 1rem !important; background:white; opacity:0.9">
        <tr>
            <th>Name</th>

            <th>Street</th>
            <th>City</th>
            <th>District</th>
          
            <th>Pincode</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ row['customer_fname'] }}{{ row['customer_lname'] }}</td>
      
            <td>{{ row['customer_street'] }}</td>
            <td>{{ row['customer_city'] }}</td>
            <td>{{ row['customer_dist'] }}</td>
            <td>{{ row['customer_pincode'] }}</td>
            <td>{{ row['customer_phone'] }}</td>
            <td>{{ row['customer_gender'] }}</td>
            <td>{{ row['product_name'] }}</td>
            <td>{{ row['quantity'] }}</td>
            <td>{{ row['total_price'] }}</td>
            {% if row['status'] == "Delivery Completed" %}
            <td>{{ row['status'] }}</td>
            {% else %}
            <td><a class="btn btn-primary" onclick="return confirm('Are you Sure?')" href="?action=accept&omid={{ row['ordermaster_id'] }}&did={{ row['delivery_id'] }}">Deliver Now</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</center>
</div>
<style>
    .btn-primary{
        font-size: .7em !important;
    }
</style>
{% include 'footer.html' %}