{% include 'customerheader.html' %}
<center>
    <h3 class="p-3">Add Toppings</h3>

    <div style="width: 54%;height: 40px;display: flex;justify-content: flex-end;align-items: center;">
        <a style="background: #e7272d;color: aliceblue;padding: .5rem 1.5rem;" href="customerviewcart">Continue</a>
    </div>
   <form action="" method="post">
    <table class="table table-striped tbl-new" style="width: 60%;margin-bottom: 2rem;padding: 1rem !important;">
        <tr>
            <th>Index</th>
            <th>Topping</th>
            <th>Price</th>
            <th>Description</th>
      
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['topping_name'] }}</td>
            <td>{{ row['topping_price'] }}</td>
            <td>{{ row['topping_desc'] }}</td>
            <td>quantity</td>
            <td>
                <div>
         <input type="hidden" name="topid{{ loop.index }}" value="{{ row['topping_id'] }}" id="">
            <input class="btn-sec" placeholder="0" value="{{ row['qty'] }}" readonly style="width: 30px;" type="text" name="qty{{ loop.index }}" id="">
            <button name="qtydec{{ loop.index }}" type="submit" class="btn-sec">-</button>
            <button name="qtyadd{{ loop.index }}" type="submit" class="btn-sec">+</button> </div></td>
        </tr>
        {% endfor %}
    </table>
</form>
</center>

<style>
    .btn-sec{
        border-color: rgb(219, 219, 219);
    }
</style>


{% include 'footer.html' %}