
 <!--//subscribe-->

 {% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <script type="text/javascript">alert("{{message}}")</script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}



 <section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container pt-lg-5 pt-md-5 pt-sm-4 pt-4">
       <div class="row footer-agile-grids ">
          <div class="col-lg-6 col-md-12 wthree-left-right">
             <div class="row">
                <div class="col-md-4 footer-header pl-0">
                   <h5><a href="index.html">Pizza-Pie</a></h5>
                   <p>Fun & Joy Time</p>
                </div>
                <div class="col-md-8 footer-para">
                   <p>Melbourne,south Brisbane,<br>QLD 4101,Aurstralia.</p>
                   <p>+(000) 123 4565 32</p>
                   <p><a href="mailto:info@example.com">mail@example.com</a></p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-12 wthree-left-right">
             <!-- <h4 class="pb-lg-3 pb-3">About Us</h4>
             <div class="address-para">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             </div> -->
          </div>
          <div class="wthree-left-right col-lg-3 col-md-12">
             <h4 class="pb-lg-3 pb-3">Follow us</h4>
             <div class="icons">
                <ul>
                   <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                   <li><a href="#"><span class="fas fa-rss"></span></a></li>
                   <li><a href="#"><span class="fab fa-vk"></span></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <footer>
    <p>©2018 Pizza-Pie. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
 </footer>
 <!-- //Footer -->
 <!--js working-->
 <script src='/static/latest/js/jquery-2.2.3.min.js'></script>
 <!--//js working-->
 <!--navbar-->
 <script>
    (function($){
        // Menu Functions
        $(document).ready(function(){
        $('#menuToggle').click(function(e){
            var $parent = $(this).parent('.menu');
          $parent.toggleClass("open");
          var navState = $parent.hasClass('open') ? "hide" : "show";
          $(this).attr("title", navState + " navigation");
                // Set the timeout to the animation length in the CSS.
                setTimeout(function(){
                    console.log("timeout set");
                    $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
                }, 200);
            e.preventDefault();
        });
      });
    })(jQuery);
 </script>
 <!--// navbar-->
 <!--responsiveslides banner-->
 <script src="/static/latest/js/responsiveslides.min.js"></script>
 <script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager:false,
            nav:true ,
            speed: 900,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    
    });
 </script>
 <!--// responsiveslides banner-->	  
 <!--responsive tabs-->	 
 <script src="/static/latest/js/easy-responsive-tabs.js"></script>
 <script>
    $(document).ready(function () {
    $('#horizontalTab').easyResponsiveTabs({
    type: 'default', //Types: default, vertical, accordion           
    width: 'auto', //auto or any width like 600px
    fit: true,   // 100% fit in a container
    closed: 'accordion', // Start closed if in accordion view
    activate: function(event) { // Callback function if tab is switched
    var $tab = $(this);
    var $info = $('#tabInfo');
    var $name = $('span', $info);
    $name.text($tab.text());
    $info.show();
    }
    });
    });
     
 </script>
 <!--// responsive tabs-->
 <!--Scrolling menu-->	 
 <script>
    jQuery.fn.liScroll = function(settings) {
        settings = jQuery.extend({
            travelocity: 0.01
            }, settings);		
            return this.each(function(){
                    var $strip = jQuery(this);
                    $strip.addClass("newsticker")
                    var stripHeight = 1;
                    $strip.find("li").each(function(i){
                        stripHeight += jQuery(this, i).outerHeight(true); // thanks to Michael Haszprunar and Fabien Volpi
                    });
                    var $mask = $strip.wrap("<div class='mask'></div>");
                    var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");								
                    var containerHeight = $strip.parent().parent().height();	//a.k.a. 'mask' width 	
                    $strip.height(stripHeight);			
                    var totalTravel = stripHeight;
                    var defTiming = totalTravel/settings.travelocity;	// thanks to Scott Waye		
                    function scrollnews(spazio, tempo){
                    $strip.animate({top: '-='+ spazio}, tempo, "linear", function(){$strip.css("top", containerHeight); scrollnews(totalTravel, defTiming);});
                    }
                    scrollnews(totalTravel, defTiming);				
                    $strip.hover(function(){
                    jQuery(this).stop();
                    },
                    function(){
                    var offset = jQuery(this).offset();
                    var residualSpace = offset.top + stripHeight;
                    var residualTime = residualSpace/settings.travelocity;
                    scrollnews(residualSpace, residualTime);
                    });			
            });	
    };
    
    $(function(){
        $("ul#ticker01").liScroll();
    });		  
     
 </script>
 <!--//Scrolling menu-->	 
 <!--About OnScroll-Number-Increase-JavaScript -->
 <script src="/static/latest/js/jquery.waypoints.min.js"></script>
 <script src="/static/latest/js/jquery.countup.js"></script>
 <script>
    $('.counter').countUp();
 </script>
 <!-- //OnScroll-Number-Increase-JavaScript -->
 <!-- start-smoth-scrolling -->
 <script src="/static/latest/js/move-top.js"></script>
 <script src="/static/latest/js/easing.js"></script>
 <script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
 </script>
 <!-- start-smoth-scrolling -->
 <!-- here stars scrolling icon -->
 <script>
    $(document).ready(function () {
    
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
    
    
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    
    });
 </script>
 <!-- //here ends scrolling icon -->
 <!--bootstrap working-->
 <script src="/static/latest/js/bootstrap.min.js"></script>
 <!-- //bootstrap working-->
</body>
</html>