{% include 'publicheader.html' %}

<div class="slider">
  <div class="callbacks_container">
     <ul class="rslides" id="slider4">
        <li>
           <div class="slider-img one-img">
              <div class="container">
                 <div class="slider-info ">
                    <h5>Fun times With Pizza</h5>
                    <div class="bottom-info">
                       <h4 >Pizza-Pie Forever</h4>
                    </div>
                 </div>
              </div>
           </div>
        </li>
        <li>
           <div class="slider-img two-img">
              <div class="container">
                 <div class="slider-info ">
                    <h5>Small Bite Make Joy</h5>
                    <div class="bottom-info">
                       <h4 >Pizza-Pie Forever</h4>
                    </div>
                 </div>
              </div>
           </div>
        </li>
        <li>
           <div class="slider-img three-img">
              <div class="container">
                 <div class="slider-info">
                    <h5>Enjoy A day With Pizza </h5>
                    <div class="bottom-info">
                       <h4 >Pizza-Pie Forever</h4>
                    </div>
                 </div>
              </div>
           </div>
        </li>
     </ul>
  </div>
  <!-- This is here just to demonstrate the callbacks -->
  <!-- <ul class="events">
     <li>Example 4 callback events</li>
     </ul>-->
  <div class="clearfix"></div>
</div>

{% include 'footer.html' %}