
{% include 'staffheader.html' %}
<center>


<div>
    {% if data['viewpayment'] %}
    <div style="width: 100%;height: 50vh;display: flex;justify-content: center;align-items: center;">
        <span>Rs {{ data['viewpayment'][0]['amount'] }} Was Successfully Paid on {{ data['viewpayment'][0]['date'] }} </span>
    </div>
    
    {% else %}

    <div style="width: 100%;height: 50vh;display: flex;justify-content: center;align-items: center;">
        <span>Payment Not Completed</span>
    </div>
    {% endif %}
</div>


</center>


{% include 'footer.html' %}