<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        a{
            padding: 5px;
        }
    </style>
    <a href="staffhome">Home</a>
    <a href="staffmanagevendor">Manage Vendor</a>
    <a href="staffmanagecourier">Manage Courier</a>
    <a href="staffmanagecategory">Manage Category</a>
    <a href="staffmanagesubcategory">Manage SubCategory</a>
    <a href="staffmanageitems">Manage Items</a>
    <a href="staffmanagepurchase">Manage Purchase</a>
    <a href="staffviewbookings">View Bookings</a>
    <a href="staffviewtoppings">View Toppings</a>
    <a href="staffviewpurchasedhistory">Purchase History</a>

    <a href="/">Logout</a>


