{% include 'staffheader.html' %}
<center>


    <div class="img-div">
        
        <form  id="reg" action="" style="padding-top: 2rem;background: rgba(0, 0, 0, .1);box-shadow: 10px 10px 8px lightgrey"    action="" method="post">
        <h3  class="p-3 text-white">Purchase Rawmaterials</h3>

        <div class="reg-container">
            <div>
               
                <select class="form-control" required name="vid" id="">
                    <option value="0">--select vendor--</option>
                    {% for row in data['ven'] %}
                    <option value="{{ row['vendor_id'] }}">{{ row['vendor_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        
        </div>
        <div class="reg-container">
            <div>
               
                <select class="form-control" required name="rid" id="">
                    <option value="0">--select rawmaterial--</option>
                    {% for row in data['raw'] %}
                    <option value="{{ row['raw_mat_id'] }}">{{ row['raw_mat'] }}</option>
                    {% endfor %}
                </select>
            </div>
           
        </div>

        <div style="width: 48%;" class="reg-container">
                
            <input class="form-control" type="text" required placeholder="Amount" name="amount" id="">
        </div>
        
         
        <div class="reg-container">
            <input  id="reg-btn" style="color: aliceblue;border:none;outline:none" type="submit" value="submit" name="submit">
         </div>

    </form>
</div>
    <br>

        <h3>Purchased products</h3>

    <div>
        <div>
            <table class="table table-striped tbl-new">
                <tr>
                    <th>Rawmaterial</th>
                    <th>Quantity</th>
                    <th>price</th>
                    <th>Date of Purchase</th>

                </tr>
                {% for row in data['res'] %}
                <tr>
                    <td>{{ row['raw_mat'] }}</td>
                    <td>{{ row['quantity'] }}</td>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['date_added'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <div>
                {% if data['res'] %}
                <form style="width: 100%;display: flex;justify-content: flex-end;align-items: center;padding-right: 5rem;" action="" method="post">
                    
                    <input id="reg-btn" style="color: aliceblue;border:none;outline:none;background: rgb(19, 154, 98);margin-bottom: 1rem;margin-top: 1rem;" type="submit" value="Complete Purchase" name="btn" id="">
                </form>
                {% endif %}
            </div>
        
        </div>
    </div>

   

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}